<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>961289292492-edtcaa84d10q5l2pupgd3dvcjqo7vnsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961289292492-edtcaa84d10q5l2pupgd3dvcjqo7vnsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCIg-uCWaeK49Ynbn_4onl532rStYS8qnM</string>
	<key>GCM_SENDER_ID</key>
	<string>961289292492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klish3.QuantoCurrencyConverter</string>
	<key>PROJECT_ID</key>
	<string>quantotest-8a1ec</string>
	<key>STORAGE_BUCKET</key>
	<string>quantotest-8a1ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:961289292492:ios:f38fa3e48360729c</string>
	<key>DATABASE_URL</key>
	<string>https://quantotest-8a1ec.firebaseio.com</string>
</dict>
</plist>